body {
				font-size: 16px;
			}
			.title {
				font-size: 20px;
				/*字体加粗*/
				font-weight: 900;
			}
			em {
				font-style: normal;
				color: skyblue;
				font-weight: 400;
			}
			.time {
				color: gray;
			}
			.search {
				color: red;
			}
			.btn {
				color: green;
				font-weight: 700;
			}
			/*文本水平居中对齐*/
			.tac {
				text-align: center;
				margin-bottom: 10px;
			}

			p {
				/*行高*/	
				line-height: 28px;
				/*首行缩进两个字*/
				text-indent: 2em;
			}
			/*取消字体下面的下划线*/
			a {
				text-decoration: none;
			}